.navbar{
    /*background-color: #a7ecf2 !important;*/
    background-color: #ffa31a !important;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 2px solid black;
    min-height: 100px;
}
li.nav-item{
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item{
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link:hover{
    border: 0px solid transparent;
    border-radius: 20px;
    background-color: #1b1b1b;
    color: white !important;
}

a, a:hover {
    text-decoration: none;
    outline: none;
    border-radius: 20px;
}