<?php
//Copy this file as "config.inc.php" to the "Includes" directory
//MySQL database credentials
$dbserver = "{replace}";
$dbuser = "{replace}";
$dbpass = "{replace}";
$dbname = "{replace}";

//GMail login credentials

$gmailuser = "{replace}";
$gmailpass = "{replace}";